.dashboard {
  margin-top: 5rem;
  .dashboard-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 13rem;
  }

  .dashboard-sidebar {
    width: 16%;
    height: 88vh;
    position: fixed;
    left: 13rem;
  }

  .dashboard-main {
    width: 79%;
    display: flex;
    .dashboard-feed {
      width: 65%;
    }

    .dashboard-news {
      width: 33%;
    }
  }
}
