.dashboard {
  margin-top: 5rem;
  padding: 0 13rem;
  .dashboard-container {
    display: flex;
    margin: 0 auto;
  }

  .dashboard-sidebar {
    width: 19%;
  }

  .dashboard-feed {
    width: 49%;
    margin: 0 30px;
  }

  .dashboard-news {
    width: 26%;
  }
}
