@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #f6f6f6;
  color: #323b49;
}

.form-group {
  margin-bottom: 24px;
}
label {
  display: block;
  margin-bottom: 7px;
}
input,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 60%;
  border: none;
  outline: none;
  background: #f4f4f4;
}

input:focus {
  background: #dfdede;
}

select {
  width: 63%;
}

.pw-toggle-view-btn {
  position: relative;
  margin-left: -50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.all-center,
.all-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-center-column {
  flex-direction: column;
}

.theme {
  color: $themeColor;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  background: $themeColor;
  color: white;
}

.btn-sm {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}

.btn-md {
  font-size: 16px;
  padding: 0.625em 1em;
  border: 1px solid $themeColor;
  &:hover {
    background: white;
    color: $themeColor;
  }
}

.pw-strength-meter {
  transition: 0.3s;
  height: 5px;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  // background: grey;
}

@media (max-width: 1100px) {
  input,
  select {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  input {
    width: 90%;
  }
  select {
    width: 95%;
  }
}
